*, *::before, *::after {
  box-sizing: border-box;
  font-family: Calibri;
}

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px 1px;
  opacity: 0.8;
  width: 125px;
  
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: auto;

}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  opacity: 0.8;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 250px;
  overflow: auto;
  width: 125px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: white n641;}

body {
  background-image: url(garage.jpg);
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px 1px;
  opacity: 0.8;
}

#add-btn {
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px 1px;
  opacity: 0.8
}

#begin-btn {
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px 1px;
  opacity: 0.8
}

#display {
  background: white;
  opacity:0.8;
}

#list {
  list-style-type: none;
}

#question {
  font-size: 100px;
  text-align: center;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px 1px;
  opacity: 0.8
}

#instructions {
  float: top;
  text-align: center;
  width: 500px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px 1px;
  opacity: 0.8;
  padding: 5px
}

#score {
  text-align: center;
  font-size: 50px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px 1px;
  opacity: 0.8;
  padding: 5px
}

.btn-grid {
  display: inline;

}

.btn {
  font-size: 30px;
  color: black;
  background-color: transparent;
  background-image: url(closedbox.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 176px;
  height: 143px;
  border: none;
  margin: 20px;
}

.btn:hover {
  color: black;
  background-image: url(openbox.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 176px;
  height: 143px;
  border: none;
}

.btn.correct {
  color: green;
}

.btn.wrong {
  color: red;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none
}